@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
	/* Primary */
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	/* Neutral */
	--very-pale-blue: hsl(225, 100%, 98%);
	--desatured-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
}

h5 {
	margin: 0;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-size: 1rem;
	font-family: 'Red Hat Display', sans-serif;
	background-color: var(--pale-blue);
	line-height: 1.5;
}

.container {
	padding: 71px 24px;
}

.container__card {
	background-color: #fff;
	border-radius: 1rem;
	overflow: hidden;
	min-width: 300px;
}

.container__card .hero {
	height: 160px;
	background: url(../images/illustration-hero.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container__card > * {
	text-align: center;
}

.container__card p small {
	color: var(--desatured-blue);
}

.container__card .plan {
	background-color: var(--very-pale-blue);
	margin: 0 25px 0 25px;
	padding: 19px 0.8rem 0.8rem 0.8rem;
	display: flex;
	align-items: center;
	border-radius: 0.55rem;
}

.container__card .plan img {
	margin-right: 1rem;
}

.container__card .plan .info {
	margin-right: 2.5rem;
}

.container__card .plan .info span {
	color: var(--desatured-blue);
}

.container__card .plan a {
	font-size: 13px;
}

.container__card .pay {
	margin: 25px 25px 0 25px;
}

.container__card .pay button {
	font-family: inherit;
	width: 100%;
	padding: 9px 0 8px 0;
	border-radius: 0.55rem;
}

.container__card .pay button:first-child {
	background-color: var(--bright-blue);
	border-color: var(--bright-blue);
	color: #fff;
}

.container__card .pay button:first-child:hover {
	opacity: 0.5;
	transition: opacity 200ms ease-out;
}

.container__card .pay button:last-child {
	background-color: inherit;
	border: none;
	color: var(--desatured-blue);
	font-weight: bolder;
	margin-top: 15px;
	margin-bottom: 20px;
}

@media only screen and (min-width: 425px) {
	.container {
		display: flex;
		justify-content: center;
	}

	.container__card {
		max-width: 450px;
		width: 100%;
	}

	.container__card .hero {
		height: 220px;
		background-position-x: center;
	}

	.container__card h3 {
		font-size: 27px;
	}

	.container__card p small {
		font-size: 17px;
		max-width: 300px;
		display: inline-block;
	}
}
